*__pycache__

papers/
app_data/

data/lfw/lfw
data/handmade_picture/
data/handmade_cropped/
data/handmade_video/
data/CASIA-WebFace/
data/CASIA-WebFace-cropped/
data/test/
data/

facenet_pytorch/examples/
facenet_pytorch/data/

runs/exp1/
runs/1task/
trained_models/

final_pipeline.ipynb
pipeline.ipynb
playground.ipynb
video.ipynb
lfw_evaluate.ipynb